<htnl>
<head><title>vi du day la khoang trong ngat</title>
<meta http-equiv="cookie" content="userid=xyz; expires=wednesday, 08-aug-16 23:59 GMT;"/>
</head>
<body>
	<h1><center>abc<i> pham van duy</i></center></h1>
	<p> vi du phan van ban <u> bi gach chan</u></p>
	<p align="left"> doan van nay duoc can chinh trai</p>
	<p align="center"> doan van tren duoc can giua</p>
	<p align="right"> doan van tren duoc can phai</p>
	<p> phan van ban hien thi tu phai qua trai</p>
	<p><bdo dir="rtl">phan van ban hienthi tu phai qua trai</bdo>
	<img src="images-4.jpeg" alt="hinh anh trong html" width="150" height="100" border="3" align="center">
	<p> vi du ve bang</p>
	<table border ="1" cellpadding="10" cellspacing="20">
	<tr>
	<th>số thứ tu</th>
	<th> ho va tên</th>
	</tr>
	<tr>
	<td> pham van duy</td>
	<td>1</td>
	</tr>
	<tr>
	<td> 2</td>
	<td> nguyen tung lam </td>
	</tr>
	</table>
	<table border="1" bgcolor="green" bordercolor="red" width="400" height="150">
	<caption> pham van duy</caption>
	<tr>
	<th>colum1</th>
	<th>colum2</th>
	<th>colum3</th>
	</tr>
	<tr>
	<td rowspan="2"> row1 cell1 </td><td>row1 cell2</td><td>rơw1 cell3</td>
	</tr>
	<tr> <td> row2 cell 2</td><td>row 2 cell 3</td></tr>
	<tr><td colspan="3">row3 cell3</td></tr>
	</table>
	<ul type="circle">
	<li>pham van duy</li>
	<li>le van manh</li>
	<li>phan ba van</li>
	</ul>
	<a href="http://vietjack.com" target="_top">Vietjack Homepage</a>
	<h1> vidu text link trong html<a name="top"></a></h1>
	<a href="../html/text_link_trong_html.jsp#top">Ve dau trang</a>
	<a href="../html/test.pdf"> Dowload file</a>
	<a href="http://vietjack.com" target="_bank"><img src="images-4.jpeg" alt="vietjack Homepage" border="0"/>
	</a>
	<a href="mailto:phamvanduy2811997@gmail.com">Send mail</a>

</body>
</htnl>
